---
import Blog from "../../layouts/blog.astro";
import Container from "../../layouts/container.astro";
import Layout from "../../layouts/page.astro";
import type { MarkdownLayoutProps } from "astro";

export async function getStaticPaths() {
  const posts = await Astro.glob("../posts/**/*.md");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content } = Astro.props.post;

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  id: string;
}>;

const {
  frontmatter: { title, id },
} = Content.props;
---

<Layout content={{ title, id }}>
  <Container content={{ title, id, showTitle: false }}>
    <nav aria-label="Breadcrumb">
      <ol
        role="list"
        class="flex items-center gap-1 text-sm text-gray-600 dark:text-gray-300">
        <li>
          <a
            href={"/blog_posts#blog_posts#" + id}
            class="block transition hover:text-gray-700 dark:hover:text-gray-200">
            Blog Posts
          </a>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </li>

        <li>
          <a
            href="#"
            class="block transition hover:text-gray-700 dark:hover:text-gray-200">
            {title}
          </a>
        </li>
      </ol>
    </nav>
    <Content />
  </Container>
</Layout>
