---
import Container from "../layouts/container.astro";
import Layout from "../layouts/page.astro";

const title = "Abhinav Reddy";
const id = "abhinav-reddy";
---

<Layout content={{ title, id }}>
  <Container content={{ title: "", id }}>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 min-h-96 my-auto">
      <div
        class="order-last lg:order-1 lg:col-span-2 flex flex-col gap-4 p-2 my-auto text-center lg:text-left">
        <h2
          class="text-2xl sm:text-4xl font-mono font-semibold tracking-wide dark:text-white underline">
          {title}
        </h2>
        <p class="font-mono text-black dark:text-white">
          I'm a software engineer building websites and mobile applications. I'm
          currently pursuing masters in Computer Science at the California State
          University, Chico. In my freetime I experiement with new technologies
          and contribute to open source code.
        </p>
        <div
          class="flex flex-wrap gap-6 gap-y-5 lg:gap-x-10 w-full justify-center lg:justify-start my-5">
          <!-- linkedIn -->
          <a
            href="https://www.linkedin.com/in/abhinavreddy-dev/"
            target="_blank">
            <ion-icon
              name="logo-linkedin"
              class="w-10 h-10 text-black dark:text-white hover:cursor-pointer hover:dark:text-sky-200 hover:text-sky-900">
            </ion-icon>
          </a>
          <!-- github -->
          <a href="https://github.com/AbhinavReddy-Dev" target="_blank">
            <ion-icon
              name="logo-github"
              class="w-10 h-10 text-black dark:text-white hover:cursor-pointer hover:dark:text-sky-200 hover:text-sky-900">
            </ion-icon>
          </a>
          <!-- email -->
          <a href="mailto:abhinavreddy.dev@gmail.com" target="_blank">
            <ion-icon
              name="mail"
              class="w-10 h-10 text-black dark:text-white hover:cursor-pointer hover:dark:text-sky-200 hover:text-sky-900">
            </ion-icon>
          </a>
        </div>
      </div>
      <img
        class="order-1 lg:order-last w-56 h-56 flex-col mx-auto p-0 rounded-full max-h-fit"
        src="/profile.jpeg"
        alt="Abhinav Reddy"
      />
    </div>
  </Container>
</Layout>
