---
import ProjectCard from "../components/ProjectCard.astro";
import Container from "../layouts/container.astro";
import Layout from "../layouts/page.astro";
import { projects } from "../data/projects.js";
const title = "Projects";
const id = "projects";
---

<Layout content={{ title, id }}>
  <Container content={{ title, id }}>
    <div
      class="mb-16 mt-5 flex items-center justify-evenly rounded-md border p-2 text-center font-mono text-sm tracking-tight dark:border-gray-400 sm:justify-center">
      <h2 class="text-gray-800 dark:text-gray-300" style="text-wrap: balance">
        For more current projects please visit my GitHub profile
      </h2>
      <a
        href="https://github.com/AbhinavReddy-Dev"
        target="_blank"
        title="GitHub Link"
        class="mx-4 sm:ml-4">
        <ion-icon
          name="logo-github"
          class="h-10 w-10 animate-slide-up-fade-in-1 pt-2 text-black hover:scale-105 hover:cursor-pointer hover:text-sky-900 dark:text-white hover:dark:text-sky-200">
        </ion-icon>
      </a>
    </div>
    {
      projects.map((project) => {
        return <ProjectCard key={project.name} content={project} />;
      })
    }
  </Container>
</Layout>
