---
import Container from "../../layouts/container.astro";
import Layout from "../../layouts/page.astro";
const title = "Blog Posts";
const id = "blog_posts";
---

<Layout content={{ title, id }}>
  <Container content={{ title, id }}>
    <ul class="list-none">
      <li class="box">Post one</li>
      <li class="box">Post two</li>
    </ul>
  </Container>
</Layout>
