---
/**
 * Header Index
 */
import ThemeButton from "../ThemeButton.astro";
---

<nav
  class="w-full z-20 sticky top-0 border-t-4 border-r-4 border-l-4 border-black dark:border-white font-mono">
  <div
    class="flex mx-auto px-5 sm:px-5 py-3 max-w-screen-lg flex-wrap items-center justify-between backdrop-blur-md">
    <a href="/" class="flex items-center pl-4">
      <div
        class="w-12 h-12 sm:w-14 sm:h-14 bg-nav-bg-dark dark:bg-nav-bg-light bg-no-repeat bg-center bg-cover">
        <img
          src="/logo/PNG/logo.png"
          alt="Abhinav Reddy Logo"
          class="opacity-0 w-8 h-8 sm:w-14 sm:h-14"
        />
      </div>
      <!-- <span
        class="self-center text-xl font-mono tracking-tighter font-semibold whitespace-nowrap dark:text-white"
        >Abhinav Reddy</span
      > -->
    </a>

    <button
      data-collapse-toggle="navbar-sticky"
      type="button"
      class="inline-flex md:order-2 items-center p-2 text-sm text-black rounded-lg md:hidden hover:bg-indigo-300 focus:outline-none focus:ring-2 dark:text-white dark:hover:bg-indigo-700 dark:focus:ring-gray-600"
      aria-controls="navbar-sticky"
      aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-6 h-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path></svg
      >
    </button>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky">
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:border-gray-700">
        <a
          href="/about_me#about_me"
          id="about_me"
          title="About Me"
          class="block h-fit my-auto px-2 py-1 border-2 border-transparent dark:text-white text-black hover:border-b-2 hover:dark:border-violet-400 hover:border-violet-600 target:border-2 target:border-black target:dark:border-white focus:outline-none">
          About Me</a
        >
        <a
          href="/projects#projects"
          id="projects"
          title="Projects"
          class="block h-fit my-auto px-2 py-1 border-2 border-transparent dark:text-white text-black hover:border-b-2 hover:dark:border-violet-400 hover:border-violet-600 target:border-2 target:border-black target:dark:border-white focus:outline-none"
          >Projects</a
        >
        <a
          href="/blog_posts#blog_posts"
          id="blog_posts"
          title="Blog Posts"
          class="block h-fit my-auto px-2 py-1 border-2 border-transparent dark:text-white text-black hover:border-b-2 hover:dark:border-violet-400 hover:border-violet-600 target:border-2 target:border-black target:dark:border-white focus:outline-none"
          >Blog Posts</a
        >
        <!-- <a
          href="/contact_me#contact_me"
          id="contact_me"
          title="Contact Me"
          class="block h-fit my-auto px-2 py-1 border-2 border-transparent dark:text-white text-black hover:border-b-2 hover:dark:border-violet-400 hover:border-violet-600 target:border-2 target:border-black target:dark:border-white focus:outline-none"
          >Contact Me</a
        > -->
        <ThemeButton />
      </ul>
    </div>
  </div>
</nav>
