---
/**
 * Header Index
 */
import ThemeButton from "../ThemeButton.astro";
---

<nav
  class="sticky top-0 z-20 w-full border-0 border-black font-mono dark:border-white">
  <div
    class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between px-5 py-3 backdrop-blur-md sm:px-5">
    <a href="/" title="Home" class="mt-1 flex items-center">
      <div
        class="h-12 w-12 bg-nav-bg-dark bg-cover bg-center bg-no-repeat dark:bg-nav-bg-light sm:h-14 sm:w-14">
        <img
          src="/logo/PNG/logo.png"
          alt="Abhinav Reddy Logo"
          class="h-8 w-8 opacity-0 sm:h-14 sm:w-14"
        />
      </div>
    </a>
    <div class="flex items-center">
      <button
        onclick="toggleMenu()"
        type="button"
        class="order-3 m-2 inline-flex items-center rounded-lg bg-indigo-300 bg-transparent p-2 text-sm text-black focus:ring-1 focus:ring-gray-900 dark:bg-indigo-900 dark:bg-transparent dark:text-white dark:focus:ring-sky-50 sm:p-2 md:order-2 md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false">
        <div class="h-6 w-6 sm:h-6 sm:w-6">
          <div id="menu-open-icon">
            <span class="sr-only">Open menu</span>
            <ion-icon name="menu-outline" class="h-6 w-6 sm:h-6 sm:w-6"
            ></ion-icon>
          </div>
          <div id="menu-close-icon" class="hidden">
            <span class="sr-only">Close menu</span>
            <ion-icon name="close-outline" class="h-6 w-6 sm:h-6 sm:w-6"
            ></ion-icon>
          </div>
        </div>
      </button>

      <div
        class="absolute top-[100%] left-0 hidden h-screen w-full items-center bg-white/90 text-center backdrop-blur-3xl dark:bg-gray-900/95 md:relative md:order-1 md:flex md:h-fit md:w-auto md:bg-transparent md:backdrop-blur-none md:dark:bg-transparent"
        id="menu">
        <ul
          class="my-auto mt-4 flex h-[80%] flex-col items-center p-4 text-sm md:mt-0 md:h-fit md:flex-row md:items-start md:space-x-8 md:border-0 md:text-sm md:font-medium">
          <a
            href="/about_me#about_me"
            id="about_me"
            title="About Me"
            class="mb-auto block h-fit rounded-lg border border-transparent px-4 py-1 text-black target:border target:border-black target:bg-gradient-to-bl target:from-sky-300 target:via-indigo-300 target:to-violet-300 target:outline-none hover:border hover:border-violet-600 dark:text-white target:dark:border-white target:dark:from-sky-900 target:dark:via-indigo-900 target:dark:to-violet-900 hover:dark:border-violet-400">
            About Me</a
          >
          <a
            href="/projects#projects"
            id="projects"
            title="Projects"
            class="mb-auto block h-fit rounded-lg border border-transparent px-4 py-1 text-black target:border target:border-black target:bg-gradient-to-bl target:from-sky-300 target:via-indigo-300 target:to-violet-300 target:outline-none hover:border hover:border-violet-600 dark:text-white target:dark:border-white target:dark:from-sky-900 target:dark:via-indigo-900 target:dark:to-violet-900 hover:dark:border-violet-400"
            >Projects</a
          >
          <a
            href="/posts#posts"
            id="posts"
            title="Blog Posts"
            class="mb-auto block h-fit rounded-lg border border-transparent px-4 py-1 text-black target:border target:border-black target:bg-gradient-to-bl target:from-sky-300 target:via-indigo-300 target:to-violet-300 target:outline-none hover:border hover:border-violet-600 dark:text-white target:dark:border-white target:dark:from-sky-900 target:dark:via-indigo-900 target:dark:to-violet-900 hover:dark:border-violet-400"
            >Posts</a
          >
          <ThemeButton />
        </ul>
      </div>
      <!-- <ThemeButton /> -->
    </div>
  </div>
</nav>
<script is:inline>
  function toggleMenu(fromThemeButton = false) {
    const menu = document.getElementById("menu");
    const menuOpenIcon = document.getElementById("menu-open-icon");
    const menuCloseIcon = document.getElementById("menu-close-icon");

    if (window.innerWidth <= 768 && !fromThemeButton) {
      if (menuCloseIcon.classList.contains("hidden")) {
        menuCloseIcon.classList.remove("hidden");
        menuCloseIcon.classList.add("flex");
        menuOpenIcon.classList.remove("flex");
        menuOpenIcon.classList.add("hidden");

        menu.classList.remove("hidden");
      } else {
        menuCloseIcon.classList.remove("flex");
        menuCloseIcon.classList.add("hidden");
        menuOpenIcon.classList.remove("hidden");
        menuOpenIcon.classList.add("flex");

        menu.classList.add("hidden");
      }
    }
  }
</script>
