---
/**
 * Header Index
 */
import ThemeButton from "../ThemeButton.astro";
---

<nav
  class="sticky top-0 z-20 w-full border-t-4 border-r-4 border-l-4 border-black font-mono dark:border-white">
  <div
    class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between px-5 py-3 backdrop-blur-md sm:px-5">
    <a href="/" class="flex items-center pl-4">
      <div
        class="h-12 w-12 bg-nav-bg-dark bg-cover bg-center bg-no-repeat dark:bg-nav-bg-light sm:h-14 sm:w-14">
        <img
          src="/logo/PNG/logo.png"
          alt="Abhinav Reddy Logo"
          class="h-8 w-8 opacity-0 sm:h-14 sm:w-14"
        />
      </div>
    </a>

    <button
      data-collapse-toggle="navbar-sticky"
      type="button"
      class="inline-flex items-center rounded-lg p-2 text-sm text-black hover:bg-indigo-300 focus:outline-none focus:ring-2 dark:text-white dark:hover:bg-indigo-700 dark:focus:ring-gray-600 md:order-2 md:hidden"
      aria-controls="navbar-sticky"
      aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg
        class="h-6 w-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path></svg
      >
    </button>

    <div
      class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto"
      id="navbar-sticky">
      <ul
        class="mt-4 flex flex-col rounded-lg border border-gray-100 p-4 dark:border-gray-700 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:text-sm md:font-medium">
        <a
          href="/about_me#about_me"
          id="about_me"
          title="About Me"
          class="my-auto block h-fit border-2 border-transparent px-2 py-1 text-black target:border-2 target:border-black hover:border-b-2 hover:border-violet-600 focus:outline-none dark:text-white target:dark:border-white hover:dark:border-violet-400">
          About Me</a
        >
        <a
          href="/projects#projects"
          id="projects"
          title="Projects"
          class="my-auto block h-fit border-2 border-transparent px-2 py-1 text-black target:border-2 target:border-black hover:border-b-2 hover:border-violet-600 focus:outline-none dark:text-white target:dark:border-white hover:dark:border-violet-400"
          >Projects</a
        >
        <a
          href="/posts#posts"
          id="posts"
          title="Blog Posts"
          class="my-auto block h-fit border-2 border-transparent px-2 py-1 text-black target:border-2 target:border-black hover:border-b-2 hover:border-violet-600 focus:outline-none dark:text-white target:dark:border-white hover:dark:border-violet-400"
          >Posts</a
        >
        <ThemeButton />
      </ul>
    </div>
  </div>
</nav>
