---
---

<footer
  class="mt-4 w-full border-x-4 border-black bg-purple-500 pt-1 pb-2 text-center font-mono text-sm text-white dark:border-white">
  <p>
    <span class="mr-1 font-sans">&copy; {new Date().getFullYear()}</span>
    <a
      class="hover:underline"
      title="GitHub Link for Abhinav Reddy"
      target="_blank"
      href="https://github.com/AbhinavReddy-Dev">Abhinav Reddy</a
    >
  </p>
</footer>
