---
---

<footer
  class="mt-1 w-full bg-purple-500 pt-2 pb-2 text-center font-mono text-sm text-white">
  <p>
    <span class="mr-1 font-sans">&copy; {new Date().getFullYear()}</span>
    <a
      class="hover:underline"
      title="GitHub Link for Abhinav Reddy"
      target="_blank"
      href="https://github.com/AbhinavReddy-Dev">Abhinav Reddy</a
    >
  </p>
</footer>
