---
const tags = [
  "React",
  "Redux",
  "TypeScript",
  "Express",
  "Node",
  "MongoDB",
  "GraphQL",
];
const tagColors = [
  "bg-purple-200 dark:bg-blue-600",
  "bg-green-200 dark:bg-green-600",
  "bg-yellow-200 dark:bg-yellow-600",
  "bg-red-200 dark:bg-red-600",
  "bg-blue-200 dark:bg-blue-600",
  "bg-indigo-200 dark:bg-indigo-600",
  "bg-pink-200 dark:bg-pink-600",
];
---

<!--
  This component uses @tailwindcss/line-clamp

  yarn add @tailwindcss/line-clamp
  npm install @tailwindcss/line-clamp

  plugins: [require('@tailwindcss/line-clamp')]
-->
<article
  class="overflow-hidden rounded-xl bg-gradient-to-tr from-violet-400 via-indigo-500 to-sky-400 bg-[length:400%_400%] p-0.5 shadow-lg hover:shadow-sm dark:shadow-gray-700/25">
  <a href="#" class="rounded-b-[10px]">
    <img
      alt="Office"
      src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
      class="h-56 w-full rounded-t-[10px] object-cover duration-150 hover:transition-all hover:duration-150"
    />

    <div class="rounded-b-[10px] bg-white p-4 dark:bg-gray-800 sm:p-6">
      <time
        datetime="2022-10-10"
        class="block text-xs text-gray-500 dark:text-gray-400">
        {
          new Date().toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>

      <p
        class="mt-1 text-lg font-semibold uppercase leading-tight text-indigo-600 dark:text-indigo-400">
        Pantry App Migration
      </p>

      <p
        class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3 dark:text-gray-400">
        Migration of Pantry Node Application from EJS to React and MongoDB to
        PostgreSQL with TypeScript. This is a full-stack application with a
        React front-end and a Node/Express back-end. This a project for Software
        Design and Maintanance course. I am currently working on this project's
        migration of the front-end from EJS to React and the back-end from
        MongoDB to PostgreSQL with containerization using Docker and CI with
        GitHub Actions.
      </p>
      <div class="flex gap-2 pt-4">
        {
          tags.map((tag, idx) => {
            return (
              <span
                class={
                  tagColors[idx] +
                  "inline-block rounded-full px-3 py-1 font-mono text-sm font-medium text-gray-800"
                }>
                {tag}
              </span>
            );
          })
        }
      </div>
    </div>
  </a>
</article>
