---
---

<div
  class="bg-white dark:bg-gray-900 rounded-sm shadow-md overflow-hidden mb-10">
  <div class="md:flex">
    <div class="md:flex-shrink-0 items-center m-auto p-1 bg-slate-300">
      <img
        class="w-full max-h-60 object-cover md:w-48 hover:scale-105"
        src="https://via.placeholder.com/150"
        alt="Project Image"
      />
    </div>
    <div class="p-5">
      <a
        href="#"
        class="block uppercase mt-1 font-semibold text-lg leading-tight text-indigo-500 hover:underline"
        >Project Title</a
      >
      <p class="mt-2 text-gray-500 dark:text-gray-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id
        nunc ut mauris pharetra faucibus ut eget eros. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Phasellus id nunc ut mauris pharetra
        faucibus ut eget eros.
      </p>
      <div class="pt-4">
        <span
          class="inline-block bg-gray-300 dark:bg-gray-600 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 dark:text-gray-200 mr-2"
          >#tag1</span
        >
      </div>
    </div>
  </div>
</div>
