---
/**
 * Header Index
 */
import ThemeButton from "../ThemeButton.astro";
import NavLink from "./NavLink.astro";
---

<nav
  class="sticky top-0 z-20 w-full bg-white/20 font-mono backdrop-blur-3xl dark:bg-black/20">
  <div
    class="mx-auto flex max-w-screen-lg flex-wrap items-center justify-between px-5 py-3 sm:px-5">
    <a href="/" title="Home" class="flex items-center">
      <div
        class="h-12 w-12 bg-nav-bg-dark bg-cover bg-center bg-no-repeat dark:bg-nav-bg-light sm:h-14 sm:w-14">
        <!-- <img
          src="/logo/PNG/logo.png"
          alt="Abhinav Reddy Logo"
          class="h-8 w-8 opacity-0 sm:h-14 sm:w-14"
        /> -->
      </div>
    </a>
    <div class="flex items-center">
      <button
        onclick="toggleMenu()"
        type="button"
        class="order-3 m-2 inline-flex items-center rounded-lg bg-indigo-300 bg-transparent p-1 px-[0.37rem] text-sm text-black ring-1 ring-gray-700 dark:bg-indigo-900 dark:bg-transparent dark:text-white dark:ring-gray-400 md:order-2 md:hidden"
        aria-controls="navbar-sticky"
        aria-expanded="false">
        <div class="h-6 w-6 sm:h-6 sm:w-6">
          <div id="menu-open-icon">
            <span class="sr-only">Open menu</span>
            <ion-icon name="menu-outline" class="h-6 w-6 sm:h-6 sm:w-6"
            ></ion-icon>
          </div>
          <div id="menu-close-icon" class="hidden">
            <span class="sr-only">Close menu</span>
            <ion-icon name="close-outline" class="h-6 w-6 sm:h-6 sm:w-6"
            ></ion-icon>
          </div>
        </div>
      </button>

      <div
        class="absolute top-[100%] left-0 hidden h-[calc(100vh-72px)] w-full items-center bg-gray-900/80 text-center sm:h-[calc(100vh-80px)] md:relative md:order-1 md:flex md:h-fit md:w-auto md:bg-transparent md:backdrop-blur-none md:dark:bg-transparent"
        id="menu">
        <ul
          class="my-auto flex h-full w-full flex-col items-center p-4 py-28 text-sm backdrop-blur-3xl md:mt-0 md:h-fit md:flex-row md:items-start md:space-x-8 md:border-0 md:py-4 md:text-sm md:font-medium">
          <NavLink
            navlink={{
              href: "/about_me#about_me",
              title: "About Me",
              id: "about_me",
            }}
          />
          <NavLink
            navlink={{
              href: "/projects#projects",
              title: "Projects",
              id: "projects",
            }}
          />
          <NavLink
            navlink={{
              href: "/posts#posts",
              title: "Posts",
              id: "posts",
            }}
          />
          <ThemeButton />
        </ul>
      </div>
    </div>
  </div>
</nav>
<script is:inline>
  function toggleMenu(fromThemeButton = false) {
    const menu = document.getElementById("menu");
    const menuOpenIcon = document.getElementById("menu-open-icon");
    const menuCloseIcon = document.getElementById("menu-close-icon");

    if (window.innerWidth <= 768 && !fromThemeButton) {
      if (menuCloseIcon.classList.contains("hidden")) {
        menuCloseIcon.classList.remove("hidden");
        menuCloseIcon.classList.add("flex");
        menuOpenIcon.classList.remove("flex");
        menuOpenIcon.classList.add("hidden");

        menu.classList.remove("hidden");
      } else {
        menuCloseIcon.classList.remove("flex");
        menuCloseIcon.classList.add("hidden");
        menuOpenIcon.classList.remove("hidden");
        menuOpenIcon.classList.add("flex");

        menu.classList.add("hidden");
      }
    }
  }
</script>
