---
import Container from "./container.astro";
import Layout from "./page.astro";
import type { MarkdownLayoutProps } from "astro";

const id = "posts";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
}>;

const {
  frontmatter: { title },
} = Astro.props;
---

<Layout content={{ title, id }}>
  <Container content={{ title, id, showTitle: false }}>
    <nav aria-label="Breadcrumb" class="mb-5">
      <ol
        role="list"
        class="flex items-center gap-1 text-xs text-gray-600 dark:text-gray-400">
        <li>
          <a
            href={"/posts#posts"}
            class="block transition hover:text-gray-700 dark:hover:text-gray-200">
            Posts
          </a>
        </li>

        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 20 20"
            fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </li>

        <li>
          <a
            href="#"
            class="block transition hover:text-gray-700 dark:hover:text-gray-200">
            {title}
          </a>
        </li>
      </ol>
    </nav>
    <slot />
  </Container>
</Layout>
