---
// Container for all page content
import Header from "../components/Header/index.astro";

const { content } = Astro.props;

const showTitle = content?.showTitle ?? true;
---

<div class="z-30 mx-auto min-h-screen items-center pb-20">
  <Header id={content.id} />
  <div
    class="container mx-auto max-w-screen-lg border-0 border-cyan-200 text-black dark:text-white">
    <div class="px-8 sm:px-12">
      {
        showTitle && (
          <>
            <div class="h-10 opacity-0" />
            <h2 class="font-roboto mb-5 text-3xl font-bold tracking-wide dark:text-white sm:text-4xl">
              {content.title}
            </h2>
          </>
        )
      }
      <slot />
    </div>
  </div>
</div>
