---
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar/index.astro";
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo/SVG/logo.svg" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../components/ThemeButton.ts"></script>

    <title>{content.title}</title>
  </head>
  <!-- bg-gradient-to-bl to-violet-300 via-indigo-300 from-sky-300 dark:to-violet-900 dark:via-indigo-900 dark:from-sky-900 -->
  <body
    class="relative transform-none overflow-auto bg-gradient-to-bl from-sky-50 via-sky-50 to-sky-50 dark:from-gray-900 dark:via-gray-900 dark:to-gray-900">
    <div
      class="fixed top-0 left-0 h-56 w-56 rotate-45 rounded-full bg-violet-300 shadow-2xl shadow-violet-300 dark:bg-violet-800 dark:shadow-violet-800 md:left-16 md:top-36 lg:left-[18%] xl:left-[30%]">
    </div>
    <div
      class="fixed top-[40%] right-0 h-56 w-56 rotate-45 rounded-full bg-sky-300 shadow-2xl shadow-sky-300 dark:bg-sky-700 dark:shadow-sky-700 md:right-28 lg:right-[21%] xl:right-[30%]">
    </div>
    <div
      class="fixed bottom-[10%] left-0 h-56 w-56 rotate-45 rounded-full bg-indigo-300 shadow-2xl shadow-indigo-300 dark:bg-indigo-800 dark:shadow-indigo-800 md:left-28 lg:left-[21%] xl:left-[35%]">
    </div>
    <NavigationBar />
    <div class="bg-white/20 backdrop-blur-3xl dark:bg-black/20">
      <slot />
      <Footer />
    </div>
  </body>
</html>
