---
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar/index.astro";
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo/SVG/logo.svg" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../components/ThemeButton.ts"></script>

    <title>{content.title}</title>
  </head>
  <!-- bg-gradient-to-bl to-violet-300 via-indigo-300 from-sky-300 dark:to-violet-900 dark:via-indigo-900 dark:from-sky-900 -->
  <body
    class="relative transform-none bg-gradient-to-bl from-sky-50 via-sky-50 to-sky-50 dark:from-gray-900 dark:via-gray-900 dark:to-gray-900">
    <div
      class="absolute top-56 left-5 h-96 w-96 rotate-45 animate-bg-animation bg-gradient-to-tl from-sky-200 via-indigo-200 to-violet-200 dark:from-sky-900 dark:via-indigo-900 dark:to-violet-900 md:top-10 lg:left-[29%]">
    </div>

    <NavigationBar />
    <div class="backdrop-blur-3xl">
      <slot />
      <Footer />
    </div>
  </body>
</html>
