---
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar/index.astro";
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo/SVG/logo.svg" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="../components/ThemeButton.ts"></script>

    <title>{content.title}</title>
  </head>
  <!-- bg-gradient-to-bl to-violet-300 via-indigo-300 from-sky-300 dark:to-violet-900 dark:via-indigo-900 dark:from-sky-900 -->
  <body
    class="relative transform-none overflow-auto scroll-smooth bg-white bg-gradient-to-bl dark:from-gray-900 dark:via-gray-900 dark:to-gray-900">
    <div
      class="animate-menu-bg--motion-3 fixed top-[30%] left-[47%] h-96 w-[30rem] rotate--90 rounded-full bg-sky-300 shadow-2xl shadow-sky-300 blur-2xl dark:bg-sky-600 dark:opacity-50 dark:shadow-sky-700">
    </div>
    <!-- <div
      class="animate-menu-bg--motion-2 fixed top-[27%] right-[50%] h-[30rem] w-96 rotate--90 rounded-full bg-indigo-300 opacity-60 shadow-2xl shadow-indigo-300 dark:bg-indigo-800 dark:opacity-50 dark:shadow-indigo-800 md:right-28 lg:right-[15%] xl:right-[30%]">
    </div> -->
    <div
      class="animate-menu-bg--motion fixed top-[35%] right-[47%] h-[30rem] w-[30rem] rotate--90 rounded-full bg-violet-300 opacity-80 shadow-2xl shadow-violet-300 blur-2xl dark:bg-violet-800 dark:opacity-50 dark:shadow-violet-800">
    </div>

    <NavigationBar />
    <div class="bg-white/30 backdrop-blur-3xl dark:bg-black/20">
      <slot />
      <Footer />
    </div>
  </body>
</html>
